.DS_Store
*~
.\#*
\#*\#
*.log
package-lock.json
target/
build/
dist/
temp/
test/
components/
node_modules/
/src/Alchemy/presets/*
!/src/Alchemy/presets/Factory/
/src/Alchemy/mappings/*
!/src/Alchemy/mappings/default.json.tpl
!/src/Alchemy/mappings/Factory/
/tasks/discoverypro.coffee
/src/DiscoveryPro/
/src/theRiser/presets/Expansions/
/src/Hybrid/presets/Expansions/
/src/VacuumPro/presets/Expansions/
